@media only screen and (min-width: 641px) and (max-width: 1200px) {
  .container,
  .under #content {
    padding-right: 8px;
    padding-left: 8px; } }

@media only screen and (min-width: 641px) {
  .sp {
    display: none !important; }
  a:hover,
  a:active {
    color: #006baf;
    text-decoration: none; }
  a:hover img {
    opacity: 0.7; }
  a[target="_blank"]:hover img,
  .logo a:hover img,
  .f_logo a:hover img,
  a:hover img.no_hover {
    opacity: 1; }
  #totop a:hover img {
    opacity: 1; }
  .pager li a:hover,
  .pagi li a:hover {
    opacity: 0.8; }
  .btn_blog a:hover {
    background: #43d059; } }

@media only screen and (max-width: 640px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  button,
  textarea,
  select,
  p,
  blockquote,
  th,
  td,
  pre,
  address,
  li,
  dt,
  dd {
    font-size: 140%; }
  #wrapper {
    min-width: 100%; }
  .container {
    width: 100%;
    padding-right: 3%;
    padding-left: 3%; }
  .pc {
    display: none !important; }
  .logo {
    width: 200px;
    margin: 5px 0 0 0; }
  /******************Gnavi********************************/
  .ico_menu_click {
    display: inline-block;
    float: right; }
  .icon_menu {
    display: inline-block;
    position: relative;
    width: 55px;
    height: 58px;
    margin: 5px 0 0 0;
    padding: 8px 5px 37px;
    float: right;
    background: #50a339;
    text-align: center; }
  .icon_menu.open {
    position: absolute;
    background: red; }
  .icon_menu.closes.active {
    background: #000; }
  .icon_menu span {
    display: block;
    position: relative;
    width: 72%;
    height: 3px;
    margin: 2px auto 0;
    background: #fff; }
  .icon_menu span:after,
  .icon_menu span:before {
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background: #fff;
    content: "";
    transition: all ease 0.5s; }
  .icon_menu:after {
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 0;
    margin: 0 auto;
    color: #fff;
    font-family: "Caveat", cursive;
    font-size: 15px;
    content: "Menu"; }
  .icon_menu.active span:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    bottom: -9px;
    transform: rotate(45deg); }
  .icon_menu.active span:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .icon_menu.active span {
    background: transparent; }
  .icon_menu span:after {
    bottom: -18px; }
  .icon_menu span:before {
    top: 9px; }
  #close {
    display: block;
    padding: 15px;
    background: #29853a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer; }
  #gnavi {
    -webkit-animation: none;
    display: none;
    z-index: 10;
    position: fixed;
    top: 121px;
    left: 0;
    width: 100%;
    height: calc(100% - 121px);
    overflow: auto;
    background: #fff;
    animation: none; }
  .gnavi_pc {
    display: block;
    width: 100%; }
  .gnavi_pc > li {
    background: #4ea435; }
  .gnavi_pc label,
  .gnavi_pc a {
    display: block;
    color: #fff; }
  .gnavi_pc > li:nth-child(n) {
    display: block;
    width: 100%; }
  .gnavi_pc .sub {
    -webkit-transition: none;
    -o-transition: none;
    display: none;
    visibility: visible;
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: none; }
  .gnavi_pc .sub a {
    padding: 15px;
    border-bottom: 1px solid #a6d19a;
    background: rgba(255, 255, 255, 0.3);
    color: #4ea435;
    font-size: 16px;
    text-align: left; }
  .gnavi_pc .sub li:hover a {
    background: #fff;
    color: #4ea435; }
  .gnavi_pc .sub li {
    -webkit-transition: none;
    -o-transition: none;
    border: 0;
    background: #fff;
    transition: none; }
  .gnavi_pc > li > a {
    display: block;
    position: relative;
    padding: 15px 25px 15px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left; }
  .gnavi_pc > li > label {
    position: relative;
    padding: 15px 25px 15px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    font-size: 16px;
    text-align: left; }
  .gnavi_pc > li > label:after,
  .gnavi_pc > li > label:before {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 1px;
    transform: translateY(-50%);
    background: #fff;
    content: ""; }
  .gnavi_pc > li > label:before {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }
  .gnavi_pc > li > label.active:before {
    display: none; }
  .gnavi_pc > li > a:hover {
    color: #fff; }
  /***********************Content********************************/
  .box01 {
    padding: 45px 10px; }
  .box02 {
    padding: 45px 10px; }
  .box03 {
    padding: 45px 10px; }
  .box04 {
    padding: 45px 10px; }
  .box05 {
    padding: 45px 10px; }
  /*******************************************************/
  /******************Footer********************************/
  .copyright {
    padding: 10px 0;
    letter-spacing: 0; }
  .sliderbar_fix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    position: fixed;
    bottom: 0;
    width: 100%; }
  .sliderbar_fix li {
    display: table-cell;
    width: 50%;
    font-family: "M PLUS Rounded 1c", sans-serif;
    letter-spacing: 1px;
    line-height: 0;
    text-align: center;
    vertical-align: middle; }
  .sliderbar_fix span {
    display: inline-block;
    position: relative; }
  .sliderbar_fix .web {
    background: #90c422; }
  .sliderbar_fix .web span {
    position: relative;
    padding: 0 5vw;
    font-size: 4vw; }
  .sliderbar_fix .web span:after,
  .sliderbar_fix .web span:before {
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    content: ""; }
  .sliderbar_fix .web span:after {
    right: 0;
    background: url(../images/icon_arr.png) no-repeat right 0 top 50%;
    background-size: 2.9vw; }
  .sliderbar_fix .web span:before {
    left: 0;
    background: url(../images/icon_email.png) no-repeat left 0 top 50%;
    background-size: 3.6vw; }
  .sliderbar_fix .web span .sliderbar_fix .web a {
    font-size: 3vw; }
  .sliderbar_fix .tel {
    background: #df446f; }
  .sliderbar_fix .tel .call {
    position: relative;
    padding: 1vw 0 1vw 4vw;
    font-size: 5vw; }
  .sliderbar_fix .tel .call:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: url(../images/icon_tel_white.png) no-repeat 0 50%;
    background-size: 3vw;
    content: ""; }
  .sliderbar_fix a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 5px 8px;
    color: #fff;
    font-weight: bold;
    line-height: 1.4em;
    text-decoration: none; }
  .sliderbar_fix a:hover {
    color: #fff; }
  .sliderbar_fix .hours {
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0; }
  #totop a {
    width: 35px;
    height: 35px; } }

@media only screen and (max-width: 530px) {
  .copyright {
    padding: 10px 0;
    font-size: 3.5vw; }
  /*************under*******/ }

/*# sourceMappingURL=responsive.css.map */
